# -*-Mode: makefile;-*-
# $Header: /Volumes/cvsrep/developer/OpenAnalysis/src/Makeinclude.config,v 1.1 2005/03/02 19:46:34 ntallent Exp $

#############################################################################
#
# File:
#   $Source: /Volumes/cvsrep/developer/OpenAnalysis/src/Makeinclude.config,v $
#
# Description:
#   Include file for package Makefile.in
# 
#   *Assumes presence of Automake variables!*
#
#############################################################################

#############################################################################
# OPENANALYSIS Components and Settings
#############################################################################

# $(top_srcdir) is fine, but $(abs_top_srcdir) must be used with @@
OPENANALYSIS = @abs_top_srcdir@

############################################################
# Local includes
############################################################

OA_IFLAGS = -I$(OPENANALYSIS)/src 

#############################################################################
